@import "../../../utils/colors.scss";

.uploader {
    height: 300px;
    width: 300px;
    position: fixed;
    background-color: var(--font-color);
    bottom: 0;
    right: 0;
    padding: 20px;
    border-radius: 12px;
    overflow-y: auto;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__close {
        display: block;
        padding: 0 3px;
    }
    &__title {
        color: var(--background-color);
        font-size: 1.2rem;
    }
}

.upload-file {
    background-color: var(--background-color);
    border-radius: 8px;
    margin: 5px 0;
    padding: 5px 10px;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__progress-bar {
        height: 1rem;
        border-radius: 8px;
        background-color: var(--font-color);
        display: flex;
        margin: 3px 0;
    }
    &__remove {
        display: flex;
        padding: 0 3px;
    }
    &__upload-bar {
        background-color: green;
        width: 0;
        border-radius: 8px;
    }
    &__percent {
        color: var(--background-color);
        left: 50%;
        position: absolute;
    }

}